@use "sass:math";

// Кольори
$mainColor: #151411;
$greenColor: #518581;
$yellowColor: #ffb23f;
// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

.hero {
	// .hero__container

	&__container {
	}

	// .hero__title

	&__title {
	}

	// .hero__text

	&__text {
	}

	// .hero__video

	&__video {
	}
}

.video {
	max-height: toRem(550);
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	cursor: pointer;
	video {
		width: 100%;
		height: auto;
	}

	// .vide__overlay

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("../img/video-bg.jpg") no-repeat center center;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.play-button {
	border-radius: 50%;
	background: rgba(21, 20, 17, 0.6);
	backdrop-filter: blur(20px);
	@include adaptiveValue("width", 56, 50);
	@include adaptiveValue("height", 56, 50);
	display: flex;
	align-items: center;
	justify-content: center;
}
.mission {
	@include adaptiveValue("padding-top", 90, 50);
	@include adaptiveValue("padding-bottom", 90, 50);

	// .mission__container

	&__container {
		display: flex;
		gap: toRem(30);
		justify-content: space-between;
		@media (max-width: toEm(850)) {
			flex-direction: column;
			justify-content: center;
		}
	}

	// .mission__left-part

	&__left-part {
		max-width: toRem(548);
		display: flex;
		flex-direction: column;
		@media (max-width: toEm(850)) {
			max-width: 100%;
		}
	}

	// .mission__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 10);
		}
	}

	// .mission__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}

	// .mission__counter

	&__counter {
		max-width: toRem(548);
	}

	// .mission__right-part

	&__right-part {
		@include adaptiveValue("padding-top", 37, 0);
		max-width: toRem(594);
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 30, 23);
		@media (max-width: toEm(850)) {
			max-width: 100%;
		}
	}

	// .mission__item

	&__item {
	}
}

.item-mission {
	display: flex;
	@include adaptiveValue("gap", 25, 20);

	// .item-mission__icon

	&__icon {
		@include adaptiveValue("width", 62, 44);
		@include adaptiveValue("height", 62, 44);
		flex-shrink: 0;
		background-color: #f9f9f9;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		svg {
			@include adaptiveValue("width", 30, 24);
			@include adaptiveValue("height", 30, 24);
		}
	}

	// .item-mission__wrap

	&__wrap {
		display: flex;
		flex-direction: column;
		gap: toRem(16);
	}

	// .item-mission__title

	&__title {
		@include adaptiveValue("font-size", 26, 16);
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.26px;
	}

	// .item-mission__text

	&__text {
		color: #afadb5;
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: 180%;
	}
}

.team {
	@include adaptiveValue("padding-top", 90, 50);
	@include adaptiveValue("padding-bottom", 90, 50);
	// .team__container

	&__container {
	}

	// .team__top-wrap

	&__top-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
		@media (max-width: toEm(590)) {
			flex-direction: column;
			align-items: baseline;
		}
	}

	// .team__header

	&__header {
		max-width: toRem(548);
	}

	// .team__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 8);
		}
	}

	// .team__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 18);
		}
	}

	// .team__text

	&__text {
		max-width: toRem(505);
	}

	// .team__wrapper

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		grid-template-rows: auto;
		@include adaptiveValue("gap", 29, 20);
		@media (max-width: toEm(693)) {
			grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		}
	}

	// .team__item

	&__item {
	}
}
.item-team {
	// .item-team__image

	&__image {
		max-height: toRem(360);
		width: 100%;
		height: 100%;
		height: auto;
		object-fit: cover;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 26, 14);
		}
	}

	// .item-team__title

	&__title {
		@include adaptiveValue("font-size", 26, 14);
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.26px;
		&:not(:last-child) {
			margin-bottom: toRem(6);
		}
	}
	span {
		color: #afadb5;
		@include adaptiveValue("font-size", 18, 12);
		font-weight: 500;
		line-height: 180%;
	}
}
