@use "sass:math";

// Кольори
$mainColor: #151411;
$greenColor: #518581;
$yellowColor: #ffb23f;
// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "product.scss";

@import "services.scss";

@import "article.scss";

@import "about.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Eudoxus Sans";
	line-height: toRem(24);
	color: $mainColor;

	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	margin: 0 auto;
	max-width: toRem(1270);
	padding: 0 toRem(15);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55;
	background-color: transparent;
	@include adaptiveValue("padding-top", 39, 5);
	@include adaptiveValue("padding-bottom", 39, 5);
	transition: all 0.3s ease;
	border-bottom: toRem(2) solid #f3f3f3;
	// .header__container

	&__container {
		gap: toRem(15);
		display: flex;
		color: $mainColor;
		font-size: toRem(14);
		font-weight: 500;
		align-items: center;
		@media (max-width: toEm(1199.98)) {
			gap: toRem(15);
		}
	}

	// .header__logo

	&__logo {
		z-index: 17;
		flex-grow: 1;
		display: flex;
		align-items: center;
		img {
			@include adaptiveValue("width", 42, 32);
			@include adaptiveValue("height", 42, 32);
		}
		svg {
			@include adaptiveValue("width", 76, 57);
		}
	}

	// .header__menu

	&__menu {
		flex-grow: 1;
	}

	// .header__actions

	&__actions {
		display: flex;
		align-items: center;
		gap: toRem(24);
		a {
			svg {
				will-change: transform;
				transition: transform 0.3s;
			}
			@media (any-hover: hover) {
				&:hover {
					svg {
						transform: scale(1.1);
					}
				}
			}
		}
	}
	&.scrolled {
		background-color: #ffffff;
		padding: toRem(5) 0;
	}
}

.menu {
	// .menu__body

	&__body {
		@media (max-width: toEm(960)) {
			position: absolute;
			min-width: 280px;
			padding: 30px;
			top: 50px;
			right: -210px;
			backdrop-filter: blur(10px);
			background: rgba(255, 255, 255, 0.2);
			transform: translateX(100%);
			transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
			box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
			z-index: 50;
			.menu-open & {
				right: 0;
				transform: translateX(0);
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 60, 10);
		row-gap: toRem(5);

		@media (max-width: toEm(960)) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: right;
			row-gap: toRem(28);
		}
	}

	// .menu__item

	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					color: $greenColor;
				}
			}
		}
	}
	// .menu__link

	&__link {
		color: $mainColor;
		font-size: toRem(18);
		text-transform: capitalize;
		font-weight: 500;
		line-height: 180%;
		transition: color 0.3s;
		@media (max-width: toEm(960)) {
			font-size: toRem(28);
		}
	}
}

.icon-menu {
	z-index: 20;
	display: none;
	@media (max-width: toEm(960)) {
		position: relative;
		width: 30px;
		height: 18px;
		background: none;
		border: none;
		appearance: none;
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;

		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #0f0e0e;
			display: inline-block;
			transition: all 0.4s;
		}
	}
}
.icon-menu::before,
.icon-menu::after,
.icon-menu span {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	border-radius: toRem(25);
	transition: all 0.3s;
	background-color: #000;
}
.icon-menu::before {
	top: 0;
}
.icon-menu::after {
	bottom: 0;
}
.icon-menu span {
	top: 50%;
	margin-top: -1px;
}
.menu-open .icon-menu span {
	transform: scale(0);
}
.menu-open .icon-menu::before {
	transform: rotate(-45deg);
	top: 50%;
	margin-top: -1px;
}
.menu-open .icon-menu::after {
	transform: rotate(45deg);
	top: 50%;
	margin-top: -1px;
}
.menu-open body {
	overflow: hidden;
}
.animation {
	position: absolute;
	bottom: 0;
	height: toRem(3);
	background: #518581;
	transition: all 0.3s ease;
	left: 0;
	width: 0;
	display: none;
	@media (min-width: toEm(800)) {
		&.show {
			display: block;
		}
	}
}
.hero {
	@include adaptiveValue("padding-top", 220, 122);
	&--margin {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 180, 90);
		}
	}
	&__arrow {
		@include adaptiveValue("width", 141, 47);
		@include adaptiveValue("height", 132, 44);
		transform: rotate(5deg);
		position: absolute;
		top: toRem(200);
		left: toRem(150);
		@media (max-width: toEm(1235)) {
			top: toRem(32);
			left: toRem(20);
		}
	}

	// .hero__container

	&__container {
		position: relative;
	}
	&__content {
	}
	// .hero__title

	&__title {
		padding: toRem(0) toRem(14);
		max-width: toRem(760);
		margin: 0 auto;
		color: $mainColor;
		text-align: center;
		@include adaptiveValue("font-size", 64, 26, $widthTo: 375);
		font-weight: 700;
		line-height: 130%;
		position: relative;
		&--main {
			&::after {
				content: "";
				position: absolute;
				@include adaptiveValue("bottom", 37, 15);
				@include adaptiveValue("width", 51, 24);
				@include adaptiveValue("height", 51, 24);
				background-image: url("../img/stars-element.svg");
				background-size: contain;
				@media (max-width: toEm(360)) {
					top: auto;
					bottom: toRem(10);
				}
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}

	// .hero__text

	&__text {
		max-width: toRem(796);
		margin: 0 auto;
		color: #afadb5;
		text-align: center;
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: 180%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 92, 30);
		}
	}

	// .hero__search-btn

	&__image {
		position: relative;
		max-width: toRem(1240);
		min-height: toRem(160);
		height: auto;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
#arrow {
	stroke-dasharray: 55.09965515136719;
	stroke-dashoffset: 55.09965515136719;
	animation: line 2s ease forwards;
	animation-delay: 1s;
}
#arrow-2 {
	stroke-dasharray: 305.3888244628906;
	stroke-dashoffset: 305.3888244628906;
	animation: line 2s ease forwards;
}
@keyframes line {
	to {
		stroke-dashoffset: 0;
	}
}

.search {
	padding-top: toRem(15);
	padding-bottom: toRem(15);
	padding-right: toRem(15);
	padding-left: toRem(26);
	position: absolute;
	top: toRem(-42);
	left: 50%;
	transform: translateX(-50%);
	max-width: toRem(810);
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: toRem(10);
	color: #afadb5;
	background: #fff;
	box-shadow: 0px 4px 80px 0px rgba(175, 173, 181, 0.2);
	@media (max-width: toEm(870)) {
		position: relative;
		top: 0;
		left: 0;
		transform: translateX(0);
		margin-bottom: toRem(30);
		padding-top: toRem(8);
		padding-bottom: toRem(8);
		padding-right: toRem(8);
		padding-left: toRem(15);
	}
	input {
		@include adaptiveValue("padding", 15, 10);
		width: 100%;
		height: 100%;
		&::placeholder {
			color: #afadb5;
			font-weight: 500;
			line-height: 180%;
			@include adaptiveValue("font-size", 18, 13);
		}
		&:focus {
			outline: toRem(1) solid $greenColor;
		}
	}
	svg {
		@include adaptiveValue("width", 32, 24);
		@include adaptiveValue("height", 32, 24);
		flex-shrink: 0;
	}
	&__btn {
		@include adaptiveValue("padding-top", 15, 10);
		@include adaptiveValue("padding-bottom", 15, 10);
		@include adaptiveValue("padding-right", 47, 26);
		@include adaptiveValue("padding-left", 47, 26);
		color: #fff;
		flex-shrink: 0;
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 700;
		line-height: 130%;
		background-color: $greenColor;
		transition: background-color 0.3s;
		text-transform: capitalize;
		&--product {
			@include adaptiveValue("padding-top", 16, 10);
			@include adaptiveValue("padding-bottom", 16, 10);
			@include adaptiveValue("padding-right", 28, 15);
			@include adaptiveValue("padding-left", 28, 15);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #426966;
			}
		}
	}
}
//=============Benefits====================

.benefits {
	&--margin {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 180, 80);
		}
	}
	// .benefits__container

	&__container {
	}

	// .benefits__top-wrap

	&__top-wrap {
		display: flex;
		justify-content: space-between;
		gap: toRem(10);
		align-items: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 16);
		}
		@media (max-width: toRem(775)) {
			flex-direction: column;
			align-items: baseline;
		}
	}

	// .benefits__left

	&__left {
		flex-shrink: 0;
	}
	&__title {
		flex-grow: 1;
		max-width: toRem(430);
	}
	// .benefits__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 10);
		}
	}

	// .benefits__text

	&__text {
		max-width: toRem(505);
	}

	// .benefits__bottom-wrap

	&__bottom-wrap {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 29, 20);
	}

	// .benefits__item

	&__item {
		flex: 0 1 calc(33.333% - toRem(29));
		@media (max-width: toEm(780)) {
			flex: 0 1 calc(50% - toRem(29));
		}
		@media (max-width: toEm(580)) {
			flex: 1 1 100%;
		}
	}
}
.title {
	@include adaptiveValue("font-size", 44, 24);
	font-weight: 700;
	line-height: 130%;
}
.text {
	color: #afadb5;
	@include adaptiveValue("font-size", 18, 14);
	font-weight: 500;
	line-height: 180%;
}
.subtitle {
	@include adaptiveValue("font-size", 24, 16);
	font-weight: 700;
	line-height: 130%;
}
.label {
	color: $yellowColor;
	@include adaptiveValue("font-size", 18, 14);
	font-weight: 700;
	line-height: 130%;
}
.label, .title, .text {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.label.visible, .title.visible, .text.visible {
  opacity: 1;
  transform: translateY(0); 
}
.item-benefits {
	@include adaptiveValue("padding-top", 26, 16);
	@include adaptiveValue("padding-bottom", 26, 18);
	@include adaptiveValue("padding-left", 23, 16);
	@include adaptiveValue("padding-right", 23, 16);
	background: #fff;
	box-shadow: 0px 4px 100px 0px rgba(175, 173, 181, 0.1);

	// .item-benefits__icon

	&__icon {
		width: toRem(62);
		height: toRem(62);
		border-radius: 50%;
		background: #f9f9f9;
		display: flex;
		justify-content: center;
		align-items: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 14);
		}
	}

	// .item-benefits__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 6);
		}
	}

	// .item-benefits__text

	&__text {
		> * {
			&:not(:last-child) {
				margin-bottom: toRem(5);
			}
		}
	}
}

.product {
	@include adaptiveValue("padding-bottom", 90, 50);
	&__container {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	// .product__label

	&__label {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 8);
		}
	}

	// .product__title

	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 18);
		}
	}

	// .product__text

	&__text {
		max-width: toRem(656);
		margin: 0 auto;
		text-align: center;
	}

	// .product__swiper

	&__swiper {
		width: 100vw;
		height: 100%;
	}
	&__wrapper {
		width: 100vw;
		display: flex;
		align-items: center;
	}
	&__slide {
		position: relative;
		width: calc((100% - 29px) / 4);
		height: auto;
		display: flex;
		flex-direction: column;
		@media (max-width: toEm(1000)) {
			width: calc((100% - 15px) / 3);
		}
		@media (max-width: toEm(375)) {
			width: calc((100% - 15px) / 2);
		}
		span {
			display: block;
		}
	}
}

.slide-product {
	display: flex;
	flex-direction: column;
	&__image {
		overflow: hidden;
		width: 100%;
		height: toRem(365);
		@media (max-width: toEm(480)) {
			height: toRem(194);
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 26, 14);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			will-change: transform;
			transition: transform 0.3s;
		}
	}
	&__link-title {
		@media (any-hover: hover) {
			&:hover {
				.slide-product__title {
					color: #6d6d6e;
				}
			}
		}
	}
	&__label {
		color: #afadb5;
		@include adaptiveValue("font-size", 18, 12);
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 6);
		}
	}
	&__text {
		color: #afadb5;
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: 180%;
	}
	&__title {
		color: #151411;
		@include adaptiveValue("font-size", 26, 16);
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.26px;
		transition: color 0.3s;
		&:not(:last-child) {
			margin-bottom: toRem(6);
		}
	}
	&__price {
		color: #151411;
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 700;
		line-height: 130%;
	}
}
.swiper-wrapper {
}

.button-next {
	border-radius: 50px;
	background: rgba(21, 20, 17, 0.6);
	backdrop-filter: blur(7.5px);
	z-index: 2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: toRem(54);
	width: 52px;
	height: 52px;
	padding: 10px;
	img {
		width: 24px;
		height: 24px;
		will-change: transform;
		transition: transform 0.3s;
	}
	@media (max-width: toEm(700)) {
		display: none;
	}
	@media (any-hover: hover) {
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}
}
.button-prev {
	border-radius: 50px;
	background: rgba(21, 20, 17, 0.6);
	backdrop-filter: blur(7.5px);
	z-index: 2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: toRem(54);
	width: 52px;
	height: 52px;
	padding: 10px;
	img {
		width: toRem(24);
		height: toRem(24);
		will-change: transform;

		transition: transform 0.3s;
	}
	@media (max-width: toEm(700)) {
		display: none;
	}
	@media (any-hover: hover) {
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}
}

.our-product {
	@include adaptiveValue("padding-top", 90, 50);
	@include adaptiveValue("padding-bottom", 90, 50);

	// .our-product__container

	&__container {
		display: flex;
		align-items: end;
		gap: toRem(50);
		@media (max-width: toEm(1015)) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	// .our-product__left-wrap

	&__left-wrap {
		display: flex;
		flex-direction: column;
		flex: 1 1 calc(50% - toRem(50));
		@media (max-width: toEm(1015)) {
			flex: 1 1 100%;
		}
	}

	// .our-product__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 8);
		}
	}

	// .our-product__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 16);
		}
	}

	// .our-product__text

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}

	// .our-product__button

	&__button {
		width: fit-content;
		padding: toRem(15) toRem(35);
		color: #fff;
		text-align: center;
		@include adaptiveValue("font-size", 18, 14);
		background-color: #518581;
		font-weight: 700;
		line-height: 130%;
		transition: background-color 0.3s;
		@media (max-width: toEm(480)) {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #426966;
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}

	// .our-product__right-wrap

	&__right-wrap {
		display: flex;
		flex-direction: column;
		flex: 1 1 calc(50% - toRem(50));
		@media (max-width: toEm(1015)) {
			flex: 1 1 100%;
		}
	}

	// .our-product__counter

	&__counter {
	}

	// .our-product__left-img

	&__left-img {
		max-width: toRem(595);
		height: auto;
		@media (max-width: toEm(1015)) {
			max-width: 100%;
		}
		@media (max-width: toEm(375)) {
			height: toRem(200);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__right-img {
		max-width: toRem(595);
		height: auto;
		@media (max-width: toEm(1015)) {
			max-width: 100%;
		}
		@media (max-width: toEm(375)) {
			height: toRem(200);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.counter {
	justify-self: flex-end;
	display: flex;
	justify-content: space-between;
	@include adaptiveValue("gap", 50, 20, $widthTo: 375);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 57, 50);
	}
	@media (max-width: toEm(1015)) {
		justify-self: baseline;
		align-items: center;
	}
	// .counter__item

	&__item {
	}
}
.item-counter {
	// .item-counter__number

	&__number {
		color: #151411;
		@include adaptiveValue("font-size", 44, 22, $widthTo: 375);
		font-weight: 700;
		line-height: 130%;
		margin-bottom: toRem(4);
	}

	// .item-counter__text

	&__text {
		color: #afadb5;
		@include adaptiveValue("font-size", 18, 12, $widthTo: 375);
		font-weight: 500;
		line-height: 180%;
		text-wrap: nowrap;
		@media (max-width: toEm(374)) {
			text-wrap: wrap;
		}
	}
}

.testimonials {
	@include adaptiveValue("padding-top", 90, 50);
	@include adaptiveValue("padding-bottom", 90, 50);
	&__container {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 18);
		}
	}
	&__label {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 8);
		}
	}
	&__title {
		text-align: center;
	}
	&__text {
		max-width: toRem(656);
		margin: 0 auto;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	// .testimonials__slide
	&__swiper {
		overflow: hidden;
		width: 100%;
	}
	&__slide {
		width: calc((100% - 30px) / 4);
		flex-shrink: 0;
	}
	&__wrapper {
		display: flex;
	}
}

.slide-testimonials {
	@include adaptiveValue("padding-top", 26, 18);
	@include adaptiveValue("padding-bottom", 24, 16);
	@include adaptiveValue("padding-left", 24, 16);
	@include adaptiveValue("padding-right", 38, 23);
	background: #fff;
	box-shadow: 0px 4px 100px 0px rgba(175, 173, 181, 0.1);
	// .slide-testimonials__text

	&__text {
		color: #afadb5;
		font-family: "Eudoxus Sans";
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: 180%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 26, 18);
		}
	}

	// .slide-testimonials__wrap

	&__wrap {
		display: flex;
		justify-content: space-between;
		gap: toRem(5);
	}

	// .slide-testimonials__user

	&__user {
	}

	// .slide-testimonials__rating

	&__rating {
	}
}

.user {
	display: flex;
	align-items: center;
	gap: toRem(14);
	// .user__image

	&__image {
	}
	@include adaptiveValue("width", 50, 28);
	@include adaptiveValue("height", 50, 28);
	border-radius: 50%;

	// .user__name

	&__name {
		color: #151411;
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 700;
		line-height: 130%;
		text-wrap: nowrap;
	}
}
.rating {
	display: flex;
	align-items: center;
	gap: toRem(10);

	// .rating__img

	&__img {
		width: toRem(24);
		height: toRem(24);
	}

	// .rating__value

	&__value {
		color: #151411;
		font-size: toRem(18);
		font-weight: 700;
		line-height: 130%;
	}
}

.article {
	@include adaptiveValue("padding-top", 90, 50);
	@include adaptiveValue("padding-bottom", 90, 50);
	// .article__container

	&__container {
		display: flex;
		@include adaptiveValue("gap", 50, 15);
		align-items: end;
		@media (max-width: toEm(950)) {
			flex-direction: column;
			align-items: baseline;
		}
	}

	// .article__left-side

	&__left-side {
		padding-bottom: toRem(49);
		flex: 0 1 47%;
		@media (max-width: toEm(950)) {
			flex: 0 0 100%;
			width: 100%;
		}
	}
	&__right-side {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		@include adaptiveValue("gap", 30, 20);
		@media (max-width: toEm(950)) {
			flex: 0 0 100%;
			width: 100%;
		}
	}
	// .article__label

	&__label {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 8);
		}
	}

	// .article__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 18);
		}
	}

	// .article__text

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}

	// .article__item

	&__item {
	}
	&__slider {
		position: relative;

		@include adaptiveValue("min-height", 565, 200);
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			background: #000;
			opacity: 0.1;
			pointer-events: none;
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: toRem(-35);
		right: 0;
		z-index: 2;
		@media (max-width: toEm(550)) {
			display: none;
		}
	}
	svg {
		width: toRem(28);
		height: toRem(28);
	}
	svg path {
		transition: stroke 0.3s ease;
	}
	&__btn {
		padding: toRem(21);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		box-shadow: 0px 4px 90px 0px rgba(175, 173, 181, 0.2);
		transition: background-color 0.3s;
		&--prev {
			svg {
				transform: rotate(180deg);
			}
		}
		&:hover svg path {
			stroke: #ffffff;
		}
		&:hover {
			background-color: #518581;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 26, 14);
	}
}

.item-article {
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	padding: toRem(26);
	overflow: hidden;
	opacity: 0;
	transition:
		opacity 0.6s ease,
		transform 0.6s ease;

	&.active {
		opacity: 1;
		z-index: 1;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		z-index: 1;
	}
	&__category {
		color: #fff;
		font-weight: 500;
		line-height: 180%;
		@include adaptiveValue("font-size", 18, 12);
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 10, 6);
		}
	}
	&__title {
		color: #fff;
		@include adaptiveValue("font-size", 26, 16);
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.26px;
		margin-bottom: toRem(6);
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	}
	&__text {
		overflow: hidden;
		color: #fff;
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: 180%;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 14, 12);
		}
	}

	&__link {
		color: #fff;
		@include adaptiveValue("font-size", 18, 12);
		font-weight: 500;
		line-height: 180%;
		transition: color 0.3s;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
		@media (any-hover: hover) {
			&:hover {
				color: #c0bfbe;
			}
		}
	}
}

.info-article {
	// .info-article__image

	&__image {
		@include adaptiveValue("width", 260, 110);
		overflow: hidden;
		height: auto;
		flex-shrink: 0;
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		&--topics {
			@include adaptiveValue("width", 210, 110, $widthTo: 375);
		}
		&--article {
			width: 100%;
		}
		img {
			will-change: transform;
			transition: transform 0.3s;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .info-article__content

	&__content {
		time {
			color: #afadb5;
			@include adaptiveValue("font-size", 14, 12);
			font-weight: 500;
			line-height: 180%;
		}
	}

	// .info-article__category

	&__category {
		@extend .item-article__category;
		text-shadow: none;
		color: #afadb5;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 21, 4);
		}
	}

	// .info-article__title

	&__title {
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 700;
		line-height: 130%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 21, 10);
		}
		&--article {
			max-width: toRem(803);
		}
	}

	// .info-article__text

	&__text {
		color: #afadb5;
		@include adaptiveValue("font-size", 18, 16);
		font-weight: 500;
		line-height: 180%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 16, 8);
		}
		&--topics {
			max-width: toRem(1004);
			@media (max-width: toEm(1200)) {
				max-width: toRem(300);
			}
		}
		@media (max-width: toEm(500)) {
			display: none;
		}
	}

	// .info-article__data

	&__data {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 24, 15);
		justify-content: space-between;

		time {
			text-wrap: nowrap;
			@media (max-width: toEm(450)) {
				display: none;
			}
		}
		&--article {
			justify-content: flex-start;
		}
	}

	// .info-article__author

	&__author {
	}
}
.author {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 10, 6);

	// .author__image

	&__image {
		width: toRem(28);
		height: toRem(28);
	}

	// .author__name

	&__name {
		color: #151411;
		@include adaptiveValue("font-size", 14, 12);
		font-weight: 700;
		line-height: 130%;
		text-wrap: nowrap;
	}
}

.cta {
	@include adaptiveValue("padding-top", 90, 50);
	@include adaptiveValue("padding-bottom", 86, 50);
	// .cta__container

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: toRem(16);
		justify-content: space-between;
	}

	// .cta__title

	&__title {
		@include adaptiveValue("font-size", 44, 24);
		font-weight: 700;
		line-height: 130%;
	}

	// .cta__button

	&__button {
		@extend .our-product__button;
		display: flex;
		width: fit-content;
		text-wrap: nowrap;
		align-items: center;
		@include adaptiveValue("gap", 18, 10);
		text-transform: capitalize;
	}
}
.cta__title.typing {
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.footer {
	@include adaptiveValue("padding-bottom", 88, 24);

	// .footer__container

	&__container {
		@include adaptiveValue("padding-top", 80, 20);

		border-top: toRem(1) solid #ece4de;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
		@media (max-width: toEm(600)) {
			flex-direction: column;
			align-items: baseline;
		}
	}

	// .footer__wrap

	&__wrap {
		max-width: toRem(505);
	}

	// .footer__logo

	&__logo {
		display: flex;
		align-items: center;
		gap: toRem(12);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 20);
		}
		svg {
			@include adaptiveValue("width", 76, 57);
		}
		img {
			@include adaptiveValue("width", 42, 32);
			@include adaptiveValue("height", 42, 32);
		}
	}

	// .footer__text

	&__text {
		color: #151411;
		font-weight: 500;
		line-height: 180%;
		@include adaptiveValue("font-size", 18, 14);
	}

	// .footer__links-wrap

	&__links-wrap {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("gap", 100, 20);
	}
}

.item-footer {
	// .item-footer__title

	&__title {
		color: #151411;
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 700;
		line-height: 130%;
		text-wrap: nowrap;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 14);
		}
	}
	&__list {
		> * {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 12, 6);
			}
		}
	}
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.item-footer__link {
					color: #afadb5;
				}
			}
		}
	}
	&__link {
		color: #151411;
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: 180%;
		text-wrap: nowrap;
		transition: color 0.3s;
	}
}
