@charset "UTF-8";
@font-face {
  font-family: "Eudoxus Sans";
  src: url("../fonts/eudoxus-sans-regular.woff2") format("woff2"), url("../fonts/eudoxus-sans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Eudoxus Sans";
  src: url("../fonts/eudoxus-sans-medium.woff2") format("woff2"), url("../fonts/eudoxus-sans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Eudoxus Sans";
  src: url("../fonts/eudoxus-sans-bold.woff2") format("woff2"), url("../fonts/eudoxus-sans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hero__swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slide-hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 79.375em) {
  .slide-hero {
    padding-top: 9.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 2.5rem , 0.2052631579rem  +  11.4736842105vw , 9.3125rem )) {
    .slide-hero {
      padding-top: clamp( 2.5rem , 0.2052631579rem  +  11.4736842105vw , 9.3125rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 0.2052631579rem  +  11.4736842105vw , 9.3125rem )) {
    .slide-hero {
      padding-top: calc(2.5rem + 6.8125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero {
    padding-top: 2.5rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero {
    padding-bottom: 9.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-bottom: clamp( 1.875rem , -0.7776315789rem  +  13.2631578947vw , 9.75rem )) {
    .slide-hero {
      padding-bottom: clamp( 1.875rem , -0.7776315789rem  +  13.2631578947vw , 9.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , -0.7776315789rem  +  13.2631578947vw , 9.75rem )) {
    .slide-hero {
      padding-bottom: calc(1.875rem + 7.875 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero--article {
    min-height: 34.375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (min-height: clamp( 12.5rem , 5.1315789474rem  +  36.8421052632vw , 34.375rem )) {
    .slide-hero--article {
      min-height: clamp( 12.5rem , 5.1315789474rem  +  36.8421052632vw , 34.375rem );
    }
  }
  @supports not (min-height: clamp( 12.5rem , 5.1315789474rem  +  36.8421052632vw , 34.375rem )) {
    .slide-hero--article {
      min-height: calc(12.5rem + 21.875 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero--article {
    min-height: 12.5rem;
  }
}
.slide-hero--article__bg {
  position: relative;
}
.slide-hero__label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  background: #518581;
  color: #fff;
  font-weight: 500;
  line-height: 180%;
}
@media (min-width: 79.375em) {
  .slide-hero__label {
    padding-top: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 0.375rem , 0.3328947368rem  +  0.2105263158vw , 0.5rem )) {
    .slide-hero__label {
      padding-top: clamp( 0.375rem , 0.3328947368rem  +  0.2105263158vw , 0.5rem );
    }
  }
  @supports not (padding-top: clamp( 0.375rem , 0.3328947368rem  +  0.2105263158vw , 0.5rem )) {
    .slide-hero__label {
      padding-top: calc(0.375rem + 0.125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__label {
    padding-top: 0.375rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero__label {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-bottom: clamp( 0.375rem , 0.3328947368rem  +  0.2105263158vw , 0.5rem )) {
    .slide-hero__label {
      padding-bottom: clamp( 0.375rem , 0.3328947368rem  +  0.2105263158vw , 0.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.375rem , 0.3328947368rem  +  0.2105263158vw , 0.5rem )) {
    .slide-hero__label {
      padding-bottom: calc(0.375rem + 0.125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__label {
    padding-bottom: 0.375rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero__label {
    padding-left: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-left: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .slide-hero__label {
      padding-left: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .slide-hero__label {
      padding-left: calc(0.625rem + 0.375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__label {
    padding-left: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero__label {
    padding-right: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-right: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .slide-hero__label {
      padding-right: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .slide-hero__label {
      padding-right: calc(0.625rem + 0.375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__label {
    padding-right: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero__label {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 0.625rem , 0.5407894737rem  +  0.4210526316vw , 0.875rem )) {
    .slide-hero__label {
      font-size: clamp( 0.625rem , 0.5407894737rem  +  0.4210526316vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.625rem , 0.5407894737rem  +  0.4210526316vw , 0.875rem )) {
    .slide-hero__label {
      font-size: calc(0.625rem + 0.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__label {
    font-size: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero__label:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (margin-bottom: clamp( 0.875rem , 0.8539473684rem  +  0.1052631579vw , 0.9375rem )) {
    .slide-hero__label:not(:last-child) {
      margin-bottom: clamp( 0.875rem , 0.8539473684rem  +  0.1052631579vw , 0.9375rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.875rem , 0.8539473684rem  +  0.1052631579vw , 0.9375rem )) {
    .slide-hero__label:not(:last-child) {
      margin-bottom: calc(0.875rem + 0.0625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__label:not(:last-child) {
    margin-bottom: 0.875rem;
  }
}
.slide-hero__title {
  color: #fff;
  font-weight: 700;
  line-height: 130%;
}
@media (min-width: 79.375em) {
  .slide-hero__title {
    font-size: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 1rem , 0.4105263158rem  +  2.9473684211vw , 2.75rem )) {
    .slide-hero__title {
      font-size: clamp( 1rem , 0.4105263158rem  +  2.9473684211vw , 2.75rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.4105263158rem  +  2.9473684211vw , 2.75rem )) {
    .slide-hero__title {
      font-size: calc(1rem + 1.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__title {
    font-size: 1rem;
  }
}
@media (min-width: 79.375em) {
  .slide-hero__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (margin-bottom: clamp( 0.25rem , -0.0868421053rem  +  1.6842105263vw , 1.25rem )) {
    .slide-hero__title:not(:last-child) {
      margin-bottom: clamp( 0.25rem , -0.0868421053rem  +  1.6842105263vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.25rem , -0.0868421053rem  +  1.6842105263vw , 1.25rem )) {
    .slide-hero__title:not(:last-child) {
      margin-bottom: calc(0.25rem + 1 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__title:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}
.slide-hero__text {
  color: #fff;
  font-weight: 700;
  line-height: 130%;
}
@media (min-width: 79.375em) {
  .slide-hero__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem )) {
    .slide-hero__text {
      font-size: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem )) {
    .slide-hero__text {
      font-size: calc(0.75rem + 0.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .slide-hero__text {
    font-size: 0.75rem;
  }
}
.slide-hero__content {
  position: relative;
  z-index: 1;
  max-width: 28.3125rem;
}
.slide-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.slide-hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__swiper .swiper-pagination {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  z-index: 10;
}

/* Буллети */
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5); /* Непрозорий білий колір */
  border-radius: 50%; /* Круглі буллети */
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s; /* Анімація */
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.hero__button-next {
  border-radius: 50%;
  background: rgba(21, 20, 17, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2.5rem;
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.625rem;
}
@media (min-width: 79.375em) {
  .hero__button-next {
    right: 2.5rem;
  }
}
@media (min-width: 93.75em) and (max-width: 79.375em) {
  @supports (right: clamp( 0.625rem , 12.8532608696rem  +  -13.0434782609vw , 2.5rem )) {
    .hero__button-next {
      right: clamp( 0.625rem , 12.8532608696rem  +  -13.0434782609vw , 2.5rem );
    }
  }
  @supports not (right: clamp( 0.625rem , 12.8532608696rem  +  -13.0434782609vw , 2.5rem )) {
    .hero__button-next {
      right: calc(0.625rem + 1.875 * (100vw - 93.75rem) / -14.375);
    }
  }
}
@media (max-width: 93.75em) {
  .hero__button-next {
    right: 0.625rem;
  }
}
@media (max-width: 85.9375em) {
  .hero__button-next {
    display: none;
  }
}
.hero__button-next img {
  width: 1.5rem;
  height: 1.5rem;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .hero__button-next:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.hero__button-prev {
  border-radius: 50%;
  background: rgba(21, 20, 17, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.625rem;
}
@media (min-width: 79.375em) {
  .hero__button-prev {
    left: 2.5rem;
  }
}
@media (min-width: 93.75em) and (max-width: 79.375em) {
  @supports (left: clamp( 0.625rem , 12.8532608696rem  +  -13.0434782609vw , 2.5rem )) {
    .hero__button-prev {
      left: clamp( 0.625rem , 12.8532608696rem  +  -13.0434782609vw , 2.5rem );
    }
  }
  @supports not (left: clamp( 0.625rem , 12.8532608696rem  +  -13.0434782609vw , 2.5rem )) {
    .hero__button-prev {
      left: calc(0.625rem + 1.875 * (100vw - 93.75rem) / -14.375);
    }
  }
}
@media (max-width: 93.75em) {
  .hero__button-prev {
    left: 0.625rem;
  }
}
@media (max-width: 85.9375em) {
  .hero__button-prev {
    display: none;
  }
}
.hero__button-prev img {
  width: 1.5rem;
  height: 1.5rem;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .hero__button-prev:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 79.375em) {
  .filter {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
    .filter {
      padding-top: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
    .filter {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .filter {
    padding-top: 1.875rem;
  }
}
@media (min-width: 79.375em) {
  .filter {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
    .filter {
      padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
    .filter {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .filter {
    padding-bottom: 1.875rem;
  }
}
.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 35.625em) {
  .filter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.search--product {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  margin: 0;
}

.item-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  background: #fff;
  -webkit-box-shadow: 0px 4px 120px 0px rgba(175, 173, 181, 0.15);
          box-shadow: 0px 4px 120px 0px rgba(175, 173, 181, 0.15);
  cursor: pointer;
}
@media (min-width: 79.375em) {
  .item-filter {
    padding-top: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 0.625rem , 0.2671052632rem  +  1.7894736842vw , 1.6875rem )) {
    .item-filter {
      padding-top: clamp( 0.625rem , 0.2671052632rem  +  1.7894736842vw , 1.6875rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.2671052632rem  +  1.7894736842vw , 1.6875rem )) {
    .item-filter {
      padding-top: calc(0.625rem + 1.0625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .item-filter {
    padding-top: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .item-filter {
    padding-bottom: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.2671052632rem  +  1.7894736842vw , 1.6875rem )) {
    .item-filter {
      padding-bottom: clamp( 0.625rem , 0.2671052632rem  +  1.7894736842vw , 1.6875rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.2671052632rem  +  1.7894736842vw , 1.6875rem )) {
    .item-filter {
      padding-bottom: calc(0.625rem + 1.0625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .item-filter {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .item-filter {
    padding-right: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-right: clamp( 0.625rem , -0.2592105263rem  +  4.4210526316vw , 3.25rem )) {
    .item-filter {
      padding-right: clamp( 0.625rem , -0.2592105263rem  +  4.4210526316vw , 3.25rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , -0.2592105263rem  +  4.4210526316vw , 3.25rem )) {
    .item-filter {
      padding-right: calc(0.625rem + 2.625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .item-filter {
    padding-right: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .item-filter {
    padding-left: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-left: clamp( 0.625rem , -0.2592105263rem  +  4.4210526316vw , 3.25rem )) {
    .item-filter {
      padding-left: clamp( 0.625rem , -0.2592105263rem  +  4.4210526316vw , 3.25rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , -0.2592105263rem  +  4.4210526316vw , 3.25rem )) {
    .item-filter {
      padding-left: calc(0.625rem + 2.625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .item-filter {
    padding-left: 0.625rem;
  }
}
.item-filter span {
  font-weight: 500;
  line-height: 180%;
}
@media (min-width: 79.375em) {
  .item-filter span {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
    .item-filter span {
      font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
    .item-filter span {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .item-filter span {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .item-filter:hover svg {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-filter svg {
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (min-width: 79.375em) {
  .item-filter svg {
    width: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (width: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
    .item-filter svg {
      width: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
    }
  }
  @supports not (width: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
    .item-filter svg {
      width: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .item-filter svg {
    width: 1.25rem;
  }
}
@media (min-width: 79.375em) {
  .item-filter svg {
    height: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (height: clamp( 1.25rem , 1.1026315789rem  +  0.7368421053vw , 1.6875rem )) {
    .item-filter svg {
      height: clamp( 1.25rem , 1.1026315789rem  +  0.7368421053vw , 1.6875rem );
    }
  }
  @supports not (height: clamp( 1.25rem , 1.1026315789rem  +  0.7368421053vw , 1.6875rem )) {
    .item-filter svg {
      height: calc(1.25rem + 0.4375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .item-filter svg {
    height: 1.25rem;
  }
}

.total-product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
@media (max-width: 30em) {
  .total-product__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (min-width: 79.375em) {
  .total-product__header:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem )) {
    .total-product__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem )) {
    .total-product__header:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .total-product__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.total-product__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.total-product__title-wrap span {
  border-radius: 1.25rem;
  background: #f9f9f9;
  color: #518581;
}
@media (min-width: 79.375em) {
  .total-product__title-wrap span {
    padding-top: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 0.125rem , -0.0434210526rem  +  0.8421052632vw , 0.625rem )) {
    .total-product__title-wrap span {
      padding-top: clamp( 0.125rem , -0.0434210526rem  +  0.8421052632vw , 0.625rem );
    }
  }
  @supports not (padding-top: clamp( 0.125rem , -0.0434210526rem  +  0.8421052632vw , 0.625rem )) {
    .total-product__title-wrap span {
      padding-top: calc(0.125rem + 0.5 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .total-product__title-wrap span {
    padding-top: 0.125rem;
  }
}
@media (min-width: 79.375em) {
  .total-product__title-wrap span {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-bottom: clamp( 0.125rem , -0.0434210526rem  +  0.8421052632vw , 0.625rem )) {
    .total-product__title-wrap span {
      padding-bottom: clamp( 0.125rem , -0.0434210526rem  +  0.8421052632vw , 0.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.125rem , -0.0434210526rem  +  0.8421052632vw , 0.625rem )) {
    .total-product__title-wrap span {
      padding-bottom: calc(0.125rem + 0.5 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .total-product__title-wrap span {
    padding-bottom: 0.125rem;
  }
}
@media (min-width: 79.375em) {
  .total-product__title-wrap span {
    padding-right: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-right: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .total-product__title-wrap span {
      padding-right: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .total-product__title-wrap span {
      padding-right: calc(0.625rem + 0.375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .total-product__title-wrap span {
    padding-right: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .total-product__title-wrap span {
    padding-left: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-left: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .total-product__title-wrap span {
      padding-left: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
    .total-product__title-wrap span {
      padding-left: calc(0.625rem + 0.375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .total-product__title-wrap span {
    padding-left: 0.625rem;
  }
}
@media (min-width: 79.375em) {
  .total-product__title-wrap span {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 0.75rem , 0.7078947368rem  +  0.2105263158vw , 0.875rem )) {
    .total-product__title-wrap span {
      font-size: clamp( 0.75rem , 0.7078947368rem  +  0.2105263158vw , 0.875rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.7078947368rem  +  0.2105263158vw , 0.875rem )) {
    .total-product__title-wrap span {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .total-product__title-wrap span {
    font-size: 0.75rem;
  }
}
.total-product__item {
  display: none;
}
.total-product__item.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.total-product__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-bottom: 5rem;
}
@media (min-width: 79.375em) {
  .total-product__wrap {
    gap: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (gap: clamp( 0.9375rem , 0.6427631579rem  +  1.4736842105vw , 1.8125rem )) {
    .total-product__wrap {
      gap: clamp( 0.9375rem , 0.6427631579rem  +  1.4736842105vw , 1.8125rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.6427631579rem  +  1.4736842105vw , 1.8125rem )) {
    .total-product__wrap {
      gap: calc(0.9375rem + 0.875 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .total-product__wrap {
    gap: 0.9375rem;
  }
}
@media (max-width: 30em) {
  .total-product__wrap {
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  }
}
.total-product__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__arrow[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.sort-by {
  border: 1.5px solid #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 79.375em) {
  .sort-by {
    padding-top: 0.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 0.375rem , 0.3118421053rem  +  0.3157894737vw , 0.5625rem )) {
    .sort-by {
      padding-top: clamp( 0.375rem , 0.3118421053rem  +  0.3157894737vw , 0.5625rem );
    }
  }
  @supports not (padding-top: clamp( 0.375rem , 0.3118421053rem  +  0.3157894737vw , 0.5625rem )) {
    .sort-by {
      padding-top: calc(0.375rem + 0.1875 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .sort-by {
    padding-top: 0.375rem;
  }
}
@media (min-width: 79.375em) {
  .sort-by {
    padding-bottom: 0.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-bottom: clamp( 0.3125rem , 0.2282894737rem  +  0.4210526316vw , 0.5625rem )) {
    .sort-by {
      padding-bottom: clamp( 0.3125rem , 0.2282894737rem  +  0.4210526316vw , 0.5625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.3125rem , 0.2282894737rem  +  0.4210526316vw , 0.5625rem )) {
    .sort-by {
      padding-bottom: calc(0.3125rem + 0.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .sort-by {
    padding-bottom: 0.3125rem;
  }
}
@media (min-width: 79.375em) {
  .sort-by {
    padding-right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-right: clamp( 0.3125rem , -0.0032894737rem  +  1.5789473684vw , 1.25rem )) {
    .sort-by {
      padding-right: clamp( 0.3125rem , -0.0032894737rem  +  1.5789473684vw , 1.25rem );
    }
  }
  @supports not (padding-right: clamp( 0.3125rem , -0.0032894737rem  +  1.5789473684vw , 1.25rem )) {
    .sort-by {
      padding-right: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .sort-by {
    padding-right: 0.3125rem;
  }
}
@media (min-width: 79.375em) {
  .sort-by {
    padding-left: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-left: clamp( 0.3125rem , -0.0032894737rem  +  1.5789473684vw , 1.25rem )) {
    .sort-by {
      padding-left: clamp( 0.3125rem , -0.0032894737rem  +  1.5789473684vw , 1.25rem );
    }
  }
  @supports not (padding-left: clamp( 0.3125rem , -0.0032894737rem  +  1.5789473684vw , 1.25rem )) {
    .sort-by {
      padding-left: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .sort-by {
    padding-left: 0.3125rem;
  }
}
.sort-by svg {
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .sort-by:hover svg {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.sort-by__dropdown {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.sort-by__dropdown li {
  padding: 0.625rem;
}
@media (any-hover: hover) {
  .sort-by__dropdown li:hover {
    background-color: #518581;
    color: #fff;
  }
}

.sort-by.active .sort-by__dropdown {
  display: block;
}

.pagination {
  padding-bottom: 6.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination__arrow {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.pagination__arrow--prev svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pagination__arrow:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.pagination__arrow svg {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: #151411;
}
.pagination__link {
  text-align: center;
  font-weight: 500;
  line-height: 180%;
  padding: 0.3125rem 0.9375rem;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media (min-width: 79.375em) {
  .pagination__link {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
    .pagination__link {
      font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
    .pagination__link {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .pagination__link {
    font-size: 0.875rem;
  }
}
.pagination__link.active {
  background: #518581;
  color: #fff;
}
.pagination__link:hover {
  background: #518581;
  color: #fff;
}
.pagination__link:focus {
  outline: none;
  border-color: #518581;
}