@use "sass:math";

// Кольори
$background: #16111f;
$mainColor: #ffffff;
$darkColor: rgb(24, 24, 24);
// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1900;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1600;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

:root {
	--accent-color: #00fff7;
}

html {
	scroll-behavior: smooth;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: toRem(1630);
	padding: 0 toRem(15);
}

body {
	font-family: "Red Rose";
	color: $mainColor;
	font-size: toRem(24);
	line-height: toRem(28);
	background-color: $background;

	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

.color-settings {
	position: fixed;
	@include adaptiveValue("top", 160, 80);
	left: toRem(10);
	display: flex;
	cursor: pointer;
	@include adaptiveValue("font-size", 36, 25);
	z-index: 50;
	@media (any-hover: hover) {
		&:hover::before {
			color: var(--accent-color);
		}
	}

	// .color-settings__icon

	&__icon {
		transition: all 0.3s;
		&::before {
			animation: rotate 4s linear infinite;
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	// .color-settings__palette

	&__palette {
		display: none;
		opacity: 0;
		position: fixed;
		left: toRem(60);
		gap: toRem(5);
		z-index: 10;
		&.show {
			display: flex;
			opacity: 1;
		}
	}

	// .color-settings__btn

	&__btn {
		@include adaptiveValue("width", 35, 25);
		@include adaptiveValue("height", 35, 25);
		border-radius: 50%;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55;
	background-color: transparent;
	@include adaptiveValue("padding-top", 35, 10);
	@include adaptiveValue("padding-bottom", 35, 10);
	transition: all 0.3s ease;
	&.scrolled {
		padding: toRem(5);
		background-color: $background;
		border-bottom: toRem(1) solid var(--accent-color);
	}
	// .header__container

	&__container {
		gap: toRem(15);
		display: flex;
		font-weight: 500;
		align-items: center;
	}

	// .header__logo

	&__logo {
		color: var(--accent-color);
		@include adaptiveValue("font-size", 45, 30);
		font-weight: 600;
		z-index: 17;
		flex-grow: 1;
	}

	// .header__menu

	&__menu {
		flex-grow: 1;
	}

	&__link {
		position: relative;
		margin: auto;
		padding: toRem(19) toRem(22);
		transition: all 0.2s ease;

		&:before {
			content: "";
			position: absolute;
			top: toRem(5);
			left: 0;
			border-radius: toRem(28);
			background: var(--accent-color);
			width: toRem(56);
			height: toRem(56);
			transition: all 0.3s ease;
			@media (max-width: toEm(500)) {
				width: 100%;
			}
		}
		span {
			position: relative;
			font-size: toRem(16);
			line-height: toRem(18);
			font-weight: 900;
			letter-spacing: 0.25em;
			text-transform: uppercase;
			vertical-align: middle;
		}

		&:hover {
			&:before {
				width: 100%;
				background: var(--accent-color);
			}
			&:active {
				transform: scale(0.96);
			}
		}
	}
}

.menu {
	// .menu__body

	&__body {
		@media (max-width: toEm(860)) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			left: -100%;
			transition: left 0.3s;
			padding: toRem(100) toRem(15) toRem(30) toRem(15);
			background-color: $background;
			z-index: 15;

			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 75, 10);
		row-gap: toRem(5);

		@media (max-width: toEm(860)) {
			flex-direction: column;
			text-align: right;
			row-gap: toRem(28);
		}
	}

	// .menu__item

	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link::after {
					width: 100%;
				}
			}
		}
	}
	// .menu__link

	&__link {
		position: relative;
		line-height: toRem(21);
		color: $mainColor;
		text-transform: capitalize;
		&::after {
			content: "";
			position: absolute;
			top: 120%;
			left: 0;
			width: 0;
			height: toRem(2);
			border-radius: toRem(5);
			background: var(--accent-color);
			transition: width 0.3s;
		}
		&.active {
			color: var(--accent-color);
		}
		@media (max-width: toEm(860)) {
			font-size: toRem(28);
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: toEm(860)) {
		z-index: 20;
		width: 30px;
		height: 30px;
		position: relative;
		transition: 0.1s;
		margin: 10px 10px;
		cursor: pointer;
		display: inline-block;

		span {
			width: 5px;
			height: 5px;
			background-color: var(--accent-color);
			display: block;
			border-radius: 50%;
			position: absolute;
		}

		&:hover span {
			transform: scale(1.2);
			transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
		}

		span:nth-child(1) {
			left: 0;
			top: 0;
		}

		span:nth-child(2) {
			left: 12px;
			top: 0;
		}

		span:nth-child(3) {
			right: 0;
			top: 0;
		}

		span:nth-child(4) {
			left: 0;
			top: 12px;
		}

		span:nth-child(5) {
			position: absolute;
			left: 12px;
			top: 12px;
		}

		span:nth-child(6) {
			right: 0px;
			top: 12px;
		}

		span:nth-child(7) {
			left: 0px;
			bottom: 0px;
		}

		span:nth-child(8) {
			position: absolute;
			left: 12px;
			bottom: 0px;
		}

		span:nth-child(9) {
			right: 0px;
			bottom: 0px;
		}

		&.open {
			transform: rotate(180deg);
			cursor: pointer;
			transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);

			span {
				border-radius: 50%;
				transition-delay: 200ms;
				transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
			}

			span:nth-child(2) {
				left: 6px;
				top: 6px;
			}

			span:nth-child(4) {
				left: 6px;
				top: 18px;
			}

			span:nth-child(6) {
				right: 6px;
				top: 6px;
			}

			span:nth-child(8) {
				left: 18px;
				bottom: 6px;
			}
		}
	}
}

.menu-open body {
	overflow: hidden;
}

//========================HERO=====================================

.hero {
	@include adaptiveValue("padding-top", 150, 120);

	&__container {
		position: relative;
		display: flex;
		gap: toRem(20);
		justify-content: space-between;
		align-items: center;
		@media (max-width: toEm(850)) {
			flex-direction: column-reverse;
		}
	}
	// .hero__info

	&__info {
		z-index: 2;
		flex: 0 1 toRem(600);
		display: grid;
		@include adaptiveValue("gap", 55, 15, $widthTo: 850);
		@media (max-width: toEm(850)) {
			flex: 1 1 toRem(300);
			justify-items: center;
		}
	}

	// .hero__title

	&__title {
		font-family: "Leckerli One";
		@include adaptiveValue("font-size", 64, 35);
		opacity: 0;
		text-wrap: nowrap;
		transform: translateY(-30px);
		transition:
			opacity 0.5s ease-out,
			transform 0.8s ease-out;
		@media (max-width: toEm(850)) {
			text-align: center;
		}
	}
	&__typewriter {
		@include adaptiveValue("font-size", 64, 30, $widthTo: 850);
		color: var(--accent-color);
		font-family: "Lalezar";
		white-space: nowrap;
		animation: typing 3.5s steps(30, end);
		display: flex;
		align-items: center;
		gap: toRem(8);
		opacity: 0;
		transform: translateY(-30px);
		transition:
			opacity 0.3s ease-out,
			transform 0.3s ease-out;
		&::after {
			content: "";
			width: toRem(5);
			@include adaptiveValue("height", 60, 40, $widthTo: 850);
			border-radius: toRem(4);
			background-color: var(--accent-color);
			animation: blink 1s step-end infinite;
			@keyframes blink {
				from,
				to {
					opacity: 1;
				}
				50% {
					opacity: 0;
				}
			}
		}
		@keyframes typing {
			from {
				width: 0;
			}
			to {
				width: 100%;
			}
		}
	}
	// .hero__text

	&__text {
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.5;
		opacity: 0;
		transform: translateY(-30px);
		transition:
			opacity 0.5s ease-out,
			transform 0.8s ease-out;
		@media (max-width: toEm(850)) {
			text-align: justify;
		}
	}

	// .hero__social

	&__social {
		opacity: 0;
		transform: translateY(-30px);
		transition:
			opacity 0.5s ease-out,
			transform 0.8s ease-out;
	}

	// .hero__image

	&__image {
		position: relative;
		max-width: toRem(550);
		@media (max-width: toEm(1200)) {
			max-width: toRem(450);
		}
		@media (max-width: toEm(850)) {
			max-width: toRem(400);
		}
		&::before {
			content: "";
			@include adaptiveValue("width", 550, 250);
			@include adaptiveValue("height", 550, 250);
			background-color: var(--accent-color);
			position: absolute;
			z-index: -1;
			@include adaptiveValue("top", 100, 10);
			@include adaptiveValue("right", 40, 20);
			border-radius: 50%;
		}
		&::after {
			content: "";
			width: 100%;
			@include adaptiveValue("height", 160, 100);
			background-color: $background;
			filter: blur(20px);
			position: absolute;
			@include adaptiveValue("bottom", -70, -50);
			left: 0;
			z-index: 1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.hero__title.visible,
.hero__typewriter.visible,
.hero__text.visible,
.hero__social.visible {
	opacity: 1;
	transform: translateY(0);
}
.social {
	// .social__wrap

	&__wrap {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 10, 5);
		&--footer {
			justify-content: center;
		}
	}

	// .social__link

	&__link {
		&::before {
			@include adaptiveValue("font-size", 45, 30);
			transition: all 0.3s;
			border-radius: 50%;
			padding: toRem(8);
			border: toRem(2) solid transparent;
		}

		@media (any-hover: hover) {
			&:hover::before {
				color: var(--accent-color);
				border: toRem(2) solid var(--accent-color);
			}
		}
	}
}

.highlight {
	position: fixed;
	width: toRem(400);
	height: toRem(400);
	background: radial-gradient(circle, var(--accent-color) 0%, rgba(45, 40, 62, 0) 90%);
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: background-color 0.3s ease;
	filter: blur(100px);
	opacity: 0.3;
	z-index: 5;
}

.circle {
	border-radius: 50%;
	background-color: var(--accent-color);
	position: absolute;
	opacity: 0;
	z-index: -1;
	&--footer {
		@include adaptiveValue("bottom", -100, -50);
		@include adaptiveValue("left", -100, -50);
		@include adaptiveValue("width", 200, 100);
		@include adaptiveValue("height", 200, 100);
		opacity: 0.3;
	}
	&--testimonials {
		top: 0;
		@include adaptiveValue("right", -200, -120);
		@include adaptiveValue("width", 300, 150);
		@include adaptiveValue("height", 300, 150);
		opacity: 0.3;
	}
	&--projects {
		top: toRem(100);
		@include adaptiveValue("left", -100, -70);
		@include adaptiveValue("width", 200, 100);
		@include adaptiveValue("height", 200, 100);
		opacity: 0.3;
	}
	&--left-skill {
		@include adaptiveValue("bottom", -200, -80);
		@include adaptiveValue("left", -100, -50);
		@include adaptiveValue("width", 200, 100);
		@include adaptiveValue("height", 200, 100);
		opacity: 0.3;
		z-index: 6;
	}
	&--right-skill {
		top: toRem(50);
		@include adaptiveValue("right", -80, -90);
		@include adaptiveValue("width", 150, 100);
		@include adaptiveValue("height", 150, 100);
		opacity: 0.4;
	}
	&--right {
		@include adaptiveValue("width", 120, 70, $widthTo: 550);
		@include adaptiveValue("height", 120, 70, $widthTo: 550);
		animation: moveRight 2s forwards;
		right: 7%;
		top: 25%;
		@keyframes moveRight {
			to {
				top: 6%;
				right: 0%;
				opacity: 0.7;
			}
		}
		@media (max-width: toEm(850)) {
			right: 20%;
			top: 10%;
			@keyframes moveRight {
				to {
					top: 0;
					right: 6%;
					opacity: 0.9;
				}
			}
		}
	}
	&--left {
		top: toRem(110);
		right: 21%;
		@include adaptiveValue("width", 150, 100, $widthTo: 550);
		@include adaptiveValue("height", 150, 100, $widthTo: 550);
		opacity: 0.5;
		animation: moveLeft 2s forwards;
		@keyframes moveLeft {
			to {
				top: toRem(30);
				opacity: 0.8;
				right: 45%;
			}
		}
		@media (max-width: toEm(850)) {
			right: 35%;
			@keyframes moveLeft {
				to {
					top: toRem(0);
					opacity: 0.5;
					right: 65%;
				}
			}
		}
	}
	&--bottom {
		@include adaptiveValue("width", 200, 120, $widthTo: 550);
		@include adaptiveValue("height", 200, 120, $widthTo: 550);
		right: 20%;
		top: 50%;
		animation: moveBottom 2s forwards;
		z-index: -1;
		@keyframes moveBottom {
			to {
				top: 60%;
				right: 35%;
				transform: translateX(-50%);
				opacity: 0.7;
			}
		}
		@media (max-width: toEm(850)) {
			right: 40%;
			top: 10%;
			@keyframes moveBottom {
				to {
					top: 30%;
					right: 70%;
					opacity: 0.6;
				}
			}
		}
		@media (max-width: toEm(480)) {
			@keyframes moveBottom {
				to {
					top: 25%;
					right: 58%;
					opacity: 0.6;
				}
			}
		}
	}
}

.skills {
	scroll-margin-top: toRem(77);
	position: relative;
	@include adaptiveValue("padding-top", 100, 50);

	&__container {
	}
	&__title {
		@include adaptiveValue("margin-bottom", 50, 20);
	}
}
@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
.logos {
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("padding-bottom", 80, 40);
	max-width: toRem(1100);
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		height: 100%;
		position: absolute;
		@include adaptiveValue("width", 100, 30);
		z-index: 5;
		top: 0;
		left: 0;
		background: linear-gradient(to right, #16111f 0%, rgba(255, 255, 255, 0) 100%);
		pointer-events: none;
	}
	&::after {
		content: "";
		height: 100%;
		position: absolute;
		@include adaptiveValue("width", 100, 30);
		z-index: 5;
		top: 0;
		right: 0;
		background: linear-gradient(to left, #16111f 0%, rgba(255, 255, 255, 0) 100%);
		pointer-events: none;
	}
	&:hover {
		.logos__slide {
			animation-play-state: paused;
		}
	}
	&__slide {
		display: flex;
		align-items: center;
		animation: scroll 40s linear infinite;
	}
}
.item-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s;
	position: relative;

	span {
		font-size: toRem(18);
		opacity: 0;
		transition: 0.3s;
		position: absolute;
		bottom: toRem(-15);
	}
	@include adaptiveValue("margin-right", 50, 40);
	img {
		transition: all 0.3s;
		filter: grayscale(70%);
		@include adaptiveValue("width", 80, 50);
		height: auto;
		@media (max-width: toEm(900)) {
		}
		@media (any-hover: hover) {
			&:hover {
				transform: translateY(-15px);
				filter: grayscale(0%);
			}
			&:hover + span {
				opacity: 1;
			}
		}
	}
}
.title {
	@include adaptiveValue("font-size", 60, 35);
	color: var(--accent-color);
	text-align: center;
	position: relative;
	text-transform: capitalize;
	opacity: 0;
	transform: translateY(25px);
	transition:
		opacity 0.6s ease-out,
		transform 0.6s ease-out;
	&.visible {
		opacity: 1;
		transform: translateY(0);
	}
	&::before {
		content: "";
		position: absolute;
		width: toRem(50);
		height: toRem(50);
		border-radius: 50%;
		top: toRem(-8);
		left: 50%;
		z-index: -1;
		transform: translateX(-50%);
		opacity: 0.3;
		background-color: var(--accent-color);
	}
	&::after {
		content: "";
		position: absolute;
		@include adaptiveValue("top", -15, -3);
		width: toRem(5);
		@include adaptiveValue("height", 60, 40, $widthTo: 850);
		border-radius: toRem(4);
		background-color: var(--accent-color);
		animation: blink 1s step-end infinite;
	}
}

.text {
	max-width: toRem(900);
	margin: 0 auto;
	text-align: center;
	@include adaptiveValue("font-size", 25, 16);
	line-height: toRem(32);
	opacity: 0;
	transform: translateY(20px);
	transition:
		opacity 0.6s ease-out,
		transform 0.6s ease-out;

	&.visible {
		opacity: 1;
		transform: translateY(0);
	}
}

.service {
	scroll-margin-top: toRem(77);
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 110);
	// .service__container

	&__container {
		position: relative;
	}

	// .service__title

	&__title {
		@include adaptiveValue("margin-bottom", 50, 20);
	}

	// .service__text

	&__text {
		span {
			@include adaptiveValue("font-size", 30, 25);
			color: var(--accent-color);
		}
		@include adaptiveValue("margin-bottom", 70, 20);
	}
	&__wrap {
		display: flex;
		gap: toRem(20);
		justify-content: space-between;
		align-items: center;
		@media (max-width: toEm(1140)) {
			flex-direction: column;
		}
	}
	&__info {
		display: grid;
		@include adaptiveValue("gap", 20, 10);
	}
	&__right {
		position: relative;
	}
	&__image {
		opacity: 0;
		transform: translateX(30px);
		transition:
			opacity 0.6s ease-out,
			transform 0.6s ease-out;
		&.visible {
			opacity: 1;
			transform: translateX(0);
		}
		max-width: toRem(900);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__rotation {
		@include adaptiveValue("width", 300, 150);
		position: absolute;
		@include adaptiveValue("bottom", -180, -125, $widthTo: 500);
		right: 0;
	}
	&__portfolio {
		position: relative;
	}
	&__rotate-text {
		width: 100%;
		height: 100%;
		animation: rotate-text 15s linear infinite;
	}
	&__counter {
		@include adaptiveValue("font-size", 24, 16);
		width: 50%;
		height: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		span {
			@include adaptiveValue("font-size", 35, 18);
		}
	}
	textPath {
		fill: var(--accent-color);
		transition: 0.3s;
		offset-path: path("M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80");
		animation: moveText 5s linear infinite;
	}
	@keyframes rotate-text {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

.info-service {
	max-width: toRem(700);
	// .info-service__item

	&__item {
		opacity: 0;
		transform: translateX(-30px);
		transition:
			opacity 0.6s ease-out,
			transform 0.6s ease-out;
		&.visible {
			opacity: 1;
			transform: translateX(0);
		}
	}

	// .info-service__title

	&__title {
		display: flex;
		align-items: flex-start;
		gap: toRem(10);
		color: var(--accent-color);
		@include adaptiveValue("font-size", 30, 20, $widthTo: 1200);
		&::before {
			content: "";
			width: toRem(30);
			height: toRem(30);
			border-radius: 50%;
			opacity: 0.7;
			flex-shrink: 0;
			background-color: var(--accent-color);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 15, 10, $widthTo: 1200);
		}
	}

	// .info-service__text

	&__text {
		padding-left: toRem(40);
		@include adaptiveValue("font-size", 20, 16, $widthTo: 1200);
	}
}

.projects {
	scroll-margin-top: toRem(77);
	position: relative;
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	// .projects__container

	&__container {
	}

	// .projects__title

	&__title {
		@include adaptiveValue("margin-bottom", 50, 20);
	}
	&__text {
		@include adaptiveValue("margin-bottom", 70, 30);
	}
}

.item-project {
	height: auto;
	max-width: toRem(500);
	border: toRem(10) solid rgba(87, 86, 86, 0.838);
	border-radius: toRem(25);
	border-bottom: toRem(10) solid var(--accent-color);
	border-top: toRem(10) solid var(--accent-color);
	overflow: hidden;
	@media (any-hover: hover) {
		&:hover img {
			transform: scale(1.1);
		}
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}
}

.testimonials {
	scroll-margin-top: toRem(77);
	position: relative;
	@include adaptiveValue("padding-top", 100, 50);
	@include adaptiveValue("padding-bottom", 100, 50);
	// .service__container

	// .testimonials__container

	&__container {
		max-width: toRem(1120);
		position: relative;
	}

	// .testimonials__info

	&__info {
	}

	// .testimonials__title

	&__title {
		@include adaptiveValue("margin-bottom", 50, 20);
	}

	// .testimonials__text

	&__text {
		@include adaptiveValue("margin-bottom", 70, 20);
	}

	// .testimonials__left-svg

	&__left-svg {
		top: 30%;
		width: toRem(100);
		position: absolute;
		left: 0;
		@media (max-width: toEm(780)) {
			display: none;
		}
		path {
			fill: var(--accent-color);
			opacity: 0.1;
		}
	}

	// .testimonials__right-svg

	&__right-svg {
		width: toRem(100);
		position: absolute;
		top: 30%;
		right: 0;
		@media (max-width: toEm(780)) {
			display: none;
		}
		path {
			fill: var(--accent-color);
			opacity: 0.1;
		}
	}
	&__wrapper {
		display: flex;
	}

	&__swiper {
		padding-right: toRem(30);
		padding-left: toRem(30);
		padding-bottom: toRem(45);
		position: relative;
		overflow: hidden;
		@media (max-width: toEm(599)) {
			padding: 0;
			padding-bottom: toRem(45);
		}
	}
	&__slide {
		border: toRem(2) solid var(--accent-color);
		border-radius: toRem(25);
		background-color: #535354;
		padding: toRem(20) toRem(15);
		text-align: center;
	}

	&__rating {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}
}

.swiper-slide {
	height: auto;
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	&__text {
		font-family: "Inter";
		font-style: italic;
		@include adaptiveValue("font-size", 18, 16);
	}
}

.swiper-pagination-bullet {
	background-color: #808080;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: var(--accent-color);
}

.swiper-button-prev,
.swiper-button-next {
	z-index: 2;
	color: #808080;
	top: 50%;
	transform: translateY(-50%);
	transition: color 0.3s;
	@media (max-width: toEm(599)) {
		display: none;
	}
	@media (any-hover: hover) {
		&:hover {
			color: var(--accent-color);
		}
	}
}

.swiper-button-prev {
	left: 0;
}

.swiper-button-next {
	right: 0;
}

.rating {
	&__items {
		display: inline-flex;
		align-items: flex-start;
		gap: toRem(7);
		height: toRem(20);
		.rating--set & {
			@media (any-hover: hover) {
				&:hover {
					.rating__item {
						background: url("../img/star.svg") 0 0 / toRem(20) no-repeat;
					}
				}
			}
		}
	}
	// .rating__item
	&__item {
		flex: 0 0 toRem(20);
		width: toRem(20);
		position: relative;
		background: url("../img/star-grey.svg") 0 0 / toRem(20) no-repeat;
		&.active {
			background: url("../img/star.svg") 0 0 / toRem(20) no-repeat;
		}
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: toRem(20);
			background: url("../img/star.svg") 0 0 / toRem(20) no-repeat;
		}
		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: toRem(7);
				transform: translateX(100%);
			}
		}
		.rating--set & {
			@media (any-hover: hover) {
				&:hover {
					~ .rating__item {
						background: url("../img/star.svg") 0 0 / toRem(20) no-repeat;
						span {
							display: none;
						}
					}
				}
			}
		}
	}
	// .rating__input
	&__input {
		aspect-ratio: 1 / 1;
		width: 100%;
		opacity: 0;
		.rating--set & {
			cursor: pointer;
		}
	}
}

.footer {
	position: relative;
	@include adaptiveValue("padding-top", 30, 15);
	@include adaptiveValue("padding-bottom", 30, 15);
	border-top: toRem(1) solid #ffffff44;
	&__container {
	}
	&__social {
	}
}

#scrollToTopBtn {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	bottom: toRem(65);
	right: toRem(15);
	z-index: 10;
	width: toRem(50);
	height: toRem(50);
	padding: toRem(10);
	background-color: var(--accent-color);
	border-radius: 50%;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
	&.visible {
		visibility: visible;
		opacity: 1;
	}
	img {
		transition: transform 0.3s;
		width: 100%;
		height: 100%;
	}

	@media (any-hover: hover) {
		&:hover img {
			transform: scale(1.1);
		}
	}
}
