[class*="_icon-"]::before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-truck1:before {
	content: "\e903";
}
._icon-strategy-6:before {
	content: "\e902";
}
._icon-arrow__down:before {
	content: "\e906";
}
._icon-arrow-right:before {
	content: "\e907";
}
._icon-building:before {
	content: "\e908";
}
._icon-checkmark:before {
	content: "\e909";
}
._icon-facebook1:before {
	content: "\e90a";
}
._icon-s-github:before {
	content: "\e90b";
}
._icon-phone:before {
	content: "\e90c";
}
._icon-s-dribbble:before {
	content: "\e90d";
}
._icon-s-fingers:before {
	content: "\e90e";
}
._icon-s-linkedin:before {
	content: "\e90f";
}
._icon-strategy-1:before {
	content: "\e905";
}
._icon-strategy-2:before {
	content: "\e910";
}
._icon-strategy-3:before {
	content: "\e911";
}
._icon-strategy-4:before {
	content: "\e912";
}
._icon-strategy-5:before {
	content: "\e913";
}
._icon-s-x:before {
	content: "\e915";
}
._icon-youtube1:before {
	content: "\e917";
}
._icon-truck:before {
	content: "\e900";
}
._icon-transport:before {
	content: "\e900";
}
._icon-transaction:before {
	content: "\e900";
}
._icon-shipping:before {
	content: "\e900";
}
._icon-github:before {
	content: "\e901";
}
._icon-facebook:before {
	content: "\e904";
}
._icon-youtube:before {
	content: "\ea9d";
}
._icon-dribbble:before {
	content: "\eaa7";
}
._icon-linkedin:before {
	content: "\eac9";
}
