@use "sass:math";

@import "_functions.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1216;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

.contact {
	display: flex;
	align-items: center;
	gap: toRem(20);
	@media (max-width: toEm(890)) {
		flex-direction: column-reverse;
	}
	// .contact__sidebar

	&__sidebar {
		display: flex;
		align-items: center;
		flex-direction: column;
		min-height: 100svh;
		color: #fff;
		background: #065986;
		width: 28%;
		@include adaptiveValue("padding", 48, 20);
		@media (max-width: toEm(890)) {
			width: 100%;
			min-height: 0;
		}
	}

	// .contact__title

	&__title {
		font-size: toRem(24);
		font-weight: 600;
		line-height: toRem(32);
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}

	// .contact__text

	&__text {
		color: #b9e6fe;
		font-size: toRem(18);
		line-height: toRem(28);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 16);
		}
	}

	// .contact__item

	&__item {
	}
	&__wrap {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		flex-grow: 1;
		@media (max-width: toEm(890)) {
			flex-grow: 0;
		}
	}

	// .contact__social

	&__social {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 32, 15);
	}

	// .contact__info

	&__info {
	}
	&__link {
		text-wrap: nowrap;
		transition: color 0.3 s;
		@media (any-hover: hover) {
			&:hover {
				color: #b9e6fe;
				text-decoration: underline;
			}
		}
	}
}

.item-contact {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 32, 20);
	}
	// .item-contact__title

	&__title {
		font-size: toRem(20);
		font-weight: 600;
		line-height: toRem(30);
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}

	// .item-contact__text

	&__text {
		color: #b9e6fe;
		line-height: toRem(24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}
}

.info-contact {
	padding: toRem(30) toRem(0);
	width: 72%;
	@media (max-width: toEm(890)) {
		width: 100%;
	}
	&__container {
		max-width: toRem(510);
		@media (max-width: toEm(890)) {
			max-width: 100%;
		}
	}
	// .info-contact__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}
	&__text {
		color: #475467;
		font-size: toRem(20);
		line-height: toRem(30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 20);
		}
	}
	&__row {
		display: flex;
		@include adaptiveValue("gap", 32, 15);
		@media (max-width: toEm(380)) {
			flex-direction: column;
		}
	}
	// .info-contact__form

	&__form {
		display: flex;
		flex-direction: column;
		gap: toRem(24);
		input,
		textarea {
			resize: none;
			flex: 1;
			padding: toRem(14) toRem(10);
			border-radius: toRem(8);
			border: toRem(1) solid #d0d5dd;
			box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
			&::placeholder {
				overflow: hidden;
				color: #667085;
				text-overflow: ellipsis;
				line-height: 24px;
			}
			&:focus {
				outline: toRem(1) solid #96b3e2;
			}
		}
		textarea {
			min-height: toRem(134);
		}
		label {
			color: #344054;
			font-size: torem(14);
			font-weight: 500;
			line-height: toRem(20);
			display: block;
			margin-bottom: toRem(6);
		}
	}

	// .info-contact__checkbox

	&__checkbox {
	}

	// .info-contact__button

	&__button {
		border-radius: toRem(8);
		border: 1px solid #0086c9;
		background-color: #0086c9;
		box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
		color: #fff;
		font-weight: 600;
		line-height: 24px;
		padding: toRem(12) toRem(18);
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #065986;
			}
		}
	}
}
.checkbox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@media (max-width: toEm(380)) {
		grid-template-columns: 1fr;
	}
	// .checkbox__item
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	&__item {
		position: relative;
		padding-left: toRem(35);
		margin-bottom: toRem(16);
		cursor: pointer;
		color: #344054;
		font-weight: 500;
		line-height: toRem(24);
		user-select: none;
	}

	// .checkbox__input

	&__input {
	}

	// .checkbox__label

	&__label {
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: toRem(20);
	width: toRem(20);
	border-radius: toRem(6);
	border: toRem(1) solid var(--Gray-300, #d0d5dd);
}
.checkbox__item:hover input ~ .checkmark {
	background-color: #ccc;
}

.checkbox__item input:checked ~ .checkmark {
	background-color: #2196f3;
}

.phone-input {
	display: flex;
	border: toRem(1) solid #d0d5dd;
	border-radius: toRem(5);
	overflow: hidden;
	width: 100%;
}

#country-code {
	border: none;
	padding: 0 toRem(10);
	appearance: none;
	cursor: pointer;
}

#phone-number {
	border: none;
	flex: 1;
	padding: toRem(10);
	outline: none;
}

.phone-input select,
.phone-input input {
	font-size: toRem(16);
}
