.announcement {
	max-width: 100%;
	text-align: center;
	background-color: #939878;
	min-height: toRem(40);
	padding: toRem(10) toRem(15);
	font-size: toRem(14);
	font-weight: 500;
	line-height: toRem(21);
	display: flex;
	align-items: center;
	gap: toRem(10);
	font-size: toRem(14);
	color: rgb(255, 255, 255);
	@media (max-width: toEm(960)) {
		display: none;
	}
	//

	p {
		flex-grow: 1;
	}
	&__btn {
		flex-shrink: 0;
		@media (any-hover: hover) {
			&:hover::before {
				color: rgb(121, 200, 75);
			}
		}
		&::before {
			font-size: toRem(15);
			font-weight: 500;
			transition: color 0.3s;
		}
	}
}
.header {
	z-index: 50;
	padding: toRem(16) 0;
	position: relative;
	@media (max-width: toEm(960)) {
		padding: toRem(10) 0;
	}
	// .header__container

	&__container {
		gap: toRem(32);
		display: flex;
		color: $mainColor;
		align-items: center;
		@media (max-width: 1199.98px) {
			gap: toRem(15);
		}
	}

	// .header__logo

	&__logo {
	}

	// .header__menu

	&__menu {
	}

	// .header__actions

	&__actions {
	}
}
.logo {
	z-index: 2;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-grow: 1;
	&__item {
		width: toRem(32);
		height: toRem(32);
		background: $orangeColor;
		border-radius: toRem(12);
	}
}
.menu {
	// .menu__body

	&__body {
		@media (max-width: toEm(960)) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			left: -100%;
			transition: left 0.3s;
			padding: toRem(80) toRem(15) toRem(30) toRem(15);
			background-color: #d3d3ce;
			z-index: 1;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(55);
				top: 0;
				left: -100%;
				z-index: 2;
				transition: left 0.3s;
				background-color: #939878;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(32);
		row-gap: toRem(5);
		@media (max-width: 1199.98px) {
			column-gap: toRem(10);
		}
		@media (max-width: 960px) {
			flex-direction: column;
			text-align: right;
			row-gap: toRem(28);
		}
	}

	// .menu__item

	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					color: $orangeColor;
				}
			}
		}
		&--position {
			position: relative;
			@media (any-hover: hover) {
				&:hover {
					.sub-menu {
						opacity: 1;
						transform: translate(0px, 0px);
						visibility: visible;
						pointer-events: all;
					}
					.menu__link::before {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}
	// .menu__link

	&__link {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		color: rgb(42, 44, 31);
		line-height: 24px;
		transition: color 0.3s;
		&::before {
			flex-shrink: 0;
			font-size: toRem(20);
			transition: transform 0.3s;
			@media (max-width: toEm(960)) {
				font-size: toRem(28);
			}
		}
		@media (max-width: toEm(960)) {
			font-size: toRem(28);
		}
	}
}

.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: toRem(15);
	transform: translate(0px, -10%);
	opacity: 0;
	transition: all 0.3s;
	pointer-events: none;
	z-index: 1;

	@media (max-width: toEm(960)) {
		position: relative;
		display: none;
		transform: translate(0px, 0px);
		padding-top: toRem(10);
		pointer-events: auto;
		transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
	}

	// .sub-menu__list

	&__list {
		background-color: $orangeColor;
		width: toRem(150);
		@media (max-width: toEm(960)) {
			width: 100%;
			background-color: transparent;
		}
	}

	// .sub-menu__item

	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: rgb(255, 171, 140);
			}
		}
	}

	// .sub-menu__link

	&__link {
		padding: toRem(8) toRem(10);
		width: 100%;
		color: $greyColor;
		font-size: toRem(15);
		transition: background-color 0.2s;
		@media (max-width: toEm(960)) {
			font-size: toRem(24);
		}
	}
}

.sub-menu.show {
	display: block;
	opacity: 1;
}

.icon-menu {
	display: none;
	@media (max-width: toEm(960)) {
		width: toRem(25);
		display: block;
		flex: 0 0 toRem(25);
		height: toRem(18);
		position: relative;
		z-index: 5;

		&::before,
		&::after,
		span {
			content: "";
			height: toRem(2);
			width: 100%;
			position: absolute;
			left: 0;
			transition: all 0.3s;
			background-color: $greyColor;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: 50%;
			margin-top: toRem(-1);
		}
	}
}

@media (max-width: toEm(960)) {
	.menu-open .icon-menu {
		span {
			transform: scale(0);
		}

		&::before {
			transform: rotate(-45deg);
			top: 50%;
			margin-top: toRem(-1);
		}

		&::after {
			transform: rotate(45deg);
			bottom: 50%;
			margin-bottom: toRem(-1);
		}
	}
}
.menu-open body {
	overflow: hidden;
}
.action-header {
	position: relative;

	display: flex;
	gap: toRem(10);
	// .action-header__search

	&__search {
		display: flex;
		align-items: center;
		gap: toRem(4);
		&::before {
			font-size: toRem(16);
			&::before {
				color: #2a2c1f;
				transition: color 0.3s;
			}
		}
		@media (any-hover: hover) {
			&:hover::before {
				color: $orangeColor;
			}
		}
		input {
			font-size: toRem(15);
			padding: toRem(5) toRem(15);
			&::placeholder {
				font-size: toRem(15);
				color: $greyColor;
			}
			&:focus {
				outline: 1px solid $orangeColor;
				border-radius: toRem(6);
			}
		}
	}

	&__cart {
		background: rgb(255, 255, 255);
		max-width: toRem(100);
		flex-shrink: 0;
		padding: toRem(9) toRem(21);
		border: toRem(1) solid rgb(231, 232, 227);
		border-radius: toRem(6);
		box-shadow: toRem(0) toRem(2) toRem(4) toRem(0) rgba(0, 0, 0, 0.08);
		display: flex;
		align-items: center;
		gap: toRem(4);
		&::before {
			color: #2a2c1f;
			transition: color 0.3s;
		}
		@media (any-hover: hover) {
			&:hover::before {
				color: $orangeColor;
			}
			&:hover {
				border: toRem(1) solid $orangeColor;
			}
		}
		@media (max-width: toRem(800)) {
			align-self: flex-end;
		}
	}
	&__button {
		flex-shrink: 0;
		border: 1px solid rgb(207, 111, 73);
		border-radius: toRem(6);
		background: rgb(207, 111, 73);
		color: rgb(255, 255, 255);
		line-height: toRem(24);
		padding: toRem(9) toRem(21);
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgb(220, 136, 105);
			}
		}
		@media (max-width: toRem(800)) {
			align-self: flex-end;
		}
	}

	.button {
	}
}
